*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #da7b93;
}

/* Header Begin */

header {
    padding: 20px 35px;
    background-color: #2f4454;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header h1 {
    background-color: #2e151b;
    position: absolute;
    left: 0;
    width: 400px;
    height: 50px;
    text-align: right;
    padding: 5px 5px 5px 30px;
}

header a {
    text-decoration: none;
    color: #da7b93;;
}

header nav {
    margin: 7px 0;
    width: 700px;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* Header End */

/* Subtitle Begin */

.subtitle {
    display: flex;
    background-color: #da7b93;
    width: auto;
    height: 200px;
    background-image: url("../images/top-header.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
}

.subtitle h2 {
    color: #2e151b;
    background-color: #376e6f;
    margin-left: auto;
    align-self: flex-end;
    padding: 10px;
    margin-left: 70%;
    margin-bottom: 20px;
}

/* Subtitle End */

/*  */

.info {
    display:flex;
    flex-direction: column;
}

h3 {
    width: 20%;
}

.about-me {
    display: flex;
    align-items: flex-start;
}

.about-me p {
    text-align: left;
    border-left: solid;
    width: 80%;
}

.work {
    display: flex;
    align-items: flex-start;
}

.work img {

}

.contact-me {
    display: flex;
    align-items: flex-start;
}

.contact-me ul {
    display: flex;
    width: 90%;
    justify-content: space-between;
    list-style: none;
    position: relative;
}

